/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 17-mar-2017, 21.35.57
    Author     : ibbus
*/

body {
    margin: 0;
    background-color: rgb(224, 235, 249);
    height: 80vh;
    width: 100%;
}

header {
    width: 100%!important;
    min-height: 11%!important;   
    padding: 1% 0;
    font-family: Rockfell, Verdana, Sans Serif;
    text-shadow: black 5px 5px;
    background-color: rgb(24, 109, 173);
}

header h1 {
    font-size: 50px;
    color: white;
    font-weight: 600;
    font-style: italic;
}

nav {    
    font-size: 15px;
    min-height: 51px!important;
}

h1, p{
    margin: 0;
}

section {
    width: 100%!important;
    min-height: 82%!important;
}

footer {
    width: 100%!important;
    min-height: 3%!important;    
}

.day-row {
    /*height: 10vh;*/
    background-color: rgb(183, 218, 245);
}

.day {
    background-color: rgb(27, 128, 205);
    /*height: 80px;
    width: 80px;*/
    padding: 17px 0;
    font-size: 30px;
    color: white;
}

.img-list {
    padding-top: 5px;
}

.image-div {
    background-repeat: no-repeat;
    background-size: contain;
    display: block; 
    max-width: 64px;
    max-height: 70px;
    width: 80px;
    height: 80px;
}

div.inline {
    float: left;
}

.raid-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 20px 0;
    text-align: center;
}
.raid-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}
.raid-modal .modal-content img {
    margin-bottom: 30px;
}
.raid-modal .modal-content .item-details {
    margin: 30px 0;
}
.raid-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.raid-modal .close-modal:hover {
    opacity: 0.3;
}
.raid-modal .close-modal .lr {
    height: 50px;
    width: 1px;
    margin-left: 35px;
    background-color: #2C3E50;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051;
}
.raid-modal .close-modal .lr .rl {
    height: 50px;
    width: 1px;
    background-color: #2C3E50;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    z-index: 1052;
}
.raid-modal .modal-backdrop {
    opacity: 0;
    display: none;
}

.img-centered {
    margin: 0 auto;
}

.section-div {
    padding: 2%;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (min-width: 1110px) {
    .justified {
        position:absolute;
        left: 50%;
    }    
    
    .container {
        width: 85%;
    }     
}



@media (min-width: 200px)  {
    .navbar-nav.navbar-center {
        position: absolute;    
    }   
    nav ul {
        display: inline-block;
    }
}

@media (min-width: 768px) and (max-width: 1109px) {
    .justified {
        position: relative;
        left: 50%;
        margin: auto 0;
    }
    
    .container {
        width: 75%;
    }
}
/*.littleSee {
     visibility: hidden;
}*/

@media (max-width: 768px){
    .day-row {
        margin: 0 10%;
    }
    
    .arrow-bottom, .arrow-top {
        position: static;
        margin: 0 auto;
        display: inline-block;
    }
    
    .navbar-left li {
        font-weight: bold;
    }
    
    .justified {
        position: relative;
        left: 0%;
        margin-left: 0;
    }
}

@media (min-width: 769px){
    .arrow-bottom, .arrow-top {
        position: absolute;
    }
}

#coloImage img {
    max-height: 50vh;
    max-width: 50vw;
}

#fnImage img {    
    max-width: 50vh;
    display: table;
    margin: 0 auto;
}

#fnDrops, #fnBooks, #specialDrops{
    display: table;
    margin: 0 auto;
}

form {
    padding: 0 10px;
}

.counter {
    display: table;
    margin: 0 auto;
}

.fuso {
    margin: 5px 0 0 0;
}

.arrow-bottom, .arrow-top {    
    height: 105px;
    width: 80px;    
    background-repeat: no-repeat;
    left: 1%;    
}

.arrow-bottom {    
    background-image: url("../images/others/bottom.png");    
}

.arrow-top {    
    background-image: url("../images/others/top.png");
}

.arrow-bottom, .center-arrow, .arrow-top{
    margin: 0;
}

.special {
    font-size: 11px;
    font-weight: 900;
    color: red;
    border-style: solid;
    border: 6px;
    background-color: wheat;
}

.change-img {
    float: right;
    display: inline-block;
    max-height: 50px;
    max-width: 50px;       
}

.title-div {
    width: 100%;
}

.title-div .row {
    text-align: center;
}

.title-div .row h1 {
    display: inline-block;
}

.a-img {
    padding: 0 15px;
}

.special-img {
    height: 28px;
    width: 100px;
    background-repeat: no-repeat;
    background-image: url('../images/others/special_lvl_up_tiny.png');
}

.little-view {
    display: table;
    margin: 0 auto;
}