/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-mar-2017, 18.11.05
    Author     : ibbus
*/

body {
    margin: 0;
    background-color: lightblue;
    height: 100%;
    width: 100%;
}

header {
    width: 100%!important;
    min-height: 4%!important;
    font-size: 30px;
    margin: 2% 0;
}

nav {
    margin-bottom: 1%;
    font-size: 15px;
    min-height: 4%!important;
}

h1, p{
    margin: 0;
}

section {
    width: 100%!important;
    min-height: 89%!important;
}

footer {
    width: 100%!important;
    min-height: 3%!important;
    margin-top: 2%;
}

.first-row div {
    font-size: 20px;
    background-color: red;
    margin-right: 10px;
    margin-top: 10px;
    height: 80px;
}

.days-row div {
    padding: 20px;
    background-color: lightyellow;
    margin-right: 10px;
    margin-top: 10px;
}