/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-mar-2017, 18.11.05
    Author     : ibbus
*/

body {
    margin: 0;
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
}

header {
    width: 100%!important;
    min-height: 5%!important;
}

h1, p{
    margin: 0;
}

section {
    width: 100%!important;
    min-height: 90%!important;
}

footer {
    width: 100%!important;
    min-height: 5%!important;
}
